$divider-color: #161616;

.container {
  text-transform: uppercase;
  color: #eeeeee;
}

.header {
  display: flex;

  .title {
    color: #75e5af;
    line-height: 1.4;
    font-weight: bold;

    font-size: 32px;
    flex: 1;
    letter-spacing: 0.08em;
  }

  .reactLogo {
    display: none;

    flex: 1;

    align-items: center;
    justify-content: center;

    > img {
      width: 63px;
      height: 55px;
    }
  }
}

.subtitle {
  &Container {
  }

  max-width: 34ch;
  font-weight: 700;
}

.informationSections {
}

.divider {
  display: flex;
  align-items: center;

  margin-top: 64px;

  > * {
    flex: 1;
  }

  > span {
    text-align: center;
    font-weight: bold;
  }

  > hr {
    border: none;
    border-bottom: 1px solid $divider-color;
    width: 100%;
  }
}

.headerButtons {
  margin: 48px 0;
  display: flex;
  flex-direction: column;

  :first-child {
    margin-bottom: 16px;
  }
}

@mixin button($bg-color) {
  padding: 8px 4px;
  width: 100%;
  background-color: $bg-color;
  display: block;
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: black;
  transition: scale 0.1s ease-in, background-color 0.1s ease-in;

  &:hover {
    scale: 1.04;
    background-color: #75e5af;
  }
}

.discord {
  @include button(#75e5af);
}

.instagram {
  @include button(rgb(117, 229, 175, 0.7));
}

.footer {
  text-align: center;

  > h1 {
    font-weight: bold;
  }

  > p {
    margin: 48px 0;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 600px) {
  .headerButtons {
    flex-direction: row;

    :first-child {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    .reactLogo {
      display: flex;
    }
  }
}

@media screen and (min-width: 600px) {
  .subtitle {
    max-width: 52ch;
  }
}
