@import 'styles/theme.scss';

.container {
  margin-top: 54px;
}

.table {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid $border-color;
  text-align: center;
}

@mixin row($font-weight: 400) {
  text-transform: uppercase;
  padding: 8px;
  font-size: 12px;
  border: 0.5px solid $border-color;
  font-weight: $font-weight;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRow {
  @include row(700);
}

.row {
  @include row(300);
}

.timeRow {
  @include row(300);

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 12px;
}

.infoTab {
  flex: 2;
  background-color: $secondary-color;
  margin-right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  $r: 4px;
  border-top-left-radius: $r;
  border-top-right-radius: $r;
  text-align: center;

  > p {
    color: black;
    font-weight: bold;
  }
}

.queryTextContainer {
  flex: 2.5;
  text-transform: none;
  display: flex;
  flex-direction: row;

  @include terminalText();

  .terminal {
    margin-right: 4px;
  }

  .text {
    .emphasized {
      font-weight: bold;
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 400px) {
  .queryTextContainer {
    flex: 4;
  }

  .timeRow {
    flex-direction: row;
  }
}
